.select-region-container {
    padding: 10px;
    font-family: 'Questrial', sans-serif;
   
}

.buttons-container {
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-evenly;
}

.select-region-container p {
    margin-bottom: 10px;
}

.buttons-container button {
    border: none;
    width: 100%;
    height: 30px;
    border: none;
}

.buttons-container button:hover{
    background-color: #adadad;
}